MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/NeuroUX?retryWrites=true&w=majority
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,<your-recommender>.onrender.com
NODE_API_URL=https://<your-server>.onrender.com
